@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

body, html {
	overflow-y: hidden;
}

.ui {
	font-family: 'Roboto', sans-serif;
	height: 700px;
	background: #333333;
	color: white;
	width: 800px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -350px;
	margin-left: -400px;
	padding-bottom: 20px;
}

#main {
	height: 640px;
}

#tabs {
	height: 30px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.tab {
	width: 100px;
	height: 30px;
	float: left;
	border: none;
	font-weight: bold;
	color: white;
	background: rgb(50, 50, 50);
}

.tab button {
	display: block;
	background-color: inherit;
	color: black;
	padding: 10px 5px;
	width: 15%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.3s;
	font-size: 15px;
	margin-top: 15px;
  }

.tab.selected {
	background: rgb(75, 50, 50);
}

.list {
	display: inline-block;
	margin-bottom: 100px;
	width: 200px;
	height: 640px;
	overflow-x: hidden;
	-webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.19);
			box-shadow: 0 6px 20px rgba(0, 0, 0, 0.19);
}

.list2 {
	padding-left: 15px;
	display: inline-block;
	margin-bottom: 100px;
	width: 325px;
	height: 640px;
	overflow-x: hidden;
	-webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.19);
			box-shadow: 0 6px 20px rgba(0, 0, 0, 0.19);
}

.list3 {
	padding-left: 15px;
	display: inline-block;
	margin-bottom: 100px;
	width: 238px;
	height: 640px;
	overflow-x: hidden;
	-webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.19);
			box-shadow: 0 6px 20px rgba(0, 0, 0, 0.19);
}

#selected h3 {
	margin-left: 5px;
}

.quick {
	margin-left: 9px;
	width: 31%;
	background: rgb(151, 66, 66);
	border: none;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	color: white;
	font-size: 17px;
}

.group_set {
	display: inline-block;
	float: left;
	padding: 10px;
	width: 278px;
}

.group_set button {
	padding-left: 25px;
	padding-right: 25px;
	border: none;
	width: 100%;
	margin-top: 4px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: rgb(151, 66, 66);
	color: white;
	font-weight: bold;
}

.group_set input {
	width: 100%;
	padding-top: 3px;
	padding-bottom: 3px;
}

.group_set label {
	display: block;
}

#selected {
	position: absolute;
	display: inline-block;
	width: 600px;
	height: 640px;
}

#selected h1 {
	margin-left: 20px;
}

.player {
	width: 100%;
	text-weight: bold;
	text-indent: 10px;
	padding: 5px;
}

.player:nth-child(odd) {
	background: -webkit-linear-gradient(right, transparent 0%, rgb(85, 85, 85) 100%);
}

.player.selected {
	background: -webkit-linear-gradient(right, transparent 0%, rgb(95, 65, 65) 100%);
}

.topbar {
	font-family:'Berkshire Swash', Helvetica, sans-serif;
	height: 50px;
	font-weight: bold;
	font-size: 26px;
	background: rgb(40, 40, 40);
}

.body {
	height: 650px;
}

.topbar p {
	top: 0;
	margin-top: 0;
	padding: 10px;
	display: inline-block;
}

#close {
	display: inline-block;
	float: right;
	padding: 5px;
	padding-right: 10px;
	color: rgb(255, 0, 0);
}

.sidenav {
  height: 100%;
  width: 200px;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.sidenav button {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: #b3b0b0;
	display: block;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
	outline: none;
  }

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

.sidenav button:hover {
	color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.dropbtn {
	background-color: #3498DB;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
	background-color: #2980B9;
  }
  
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: relative;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
   }